* {
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.App {
  text-align: center;
}

.content {
  display: flex;
}

.main-section {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-section, .right-section {
  flex: 1 1 15%;
}

ul {
  list-style: none;
  padding: 0;
}

.agent-choices {
  text-align: center;
  width: 100%;
}

.agent {
  text-align: center;
  border: 1px solid black;
  width: 100%;
  margin: 1px;
  padding: 5px;
}

.agent-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.chosen-agent {
  border: 5px solid blue;
}

.mission-options {
  text-align: center;
}

.new-agents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-agents-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
